*.iml
.gradle
/local.properties
.idea/*
.DS_Store
*build
/captures
.externalNativeBuild
.cxx

app/google-services.json
app-v2/google-services.json
version.properties
/app/play-key.json
/app/keystore.properties
/app/vellore-keystore.properties
app/src/main/assets/*
app/src/main/play/*
/secrets/Christ_key
# Kotlin 2.0
.kotlin/
